Repository equinor/records, pull requests merged in 2024-03, with the labels that each got.

#58 Added Colt
  .github/workflows/colt.yml
Labels: Workflows

#59 Delete moved files
  schema/comment.shacl
  schema/comment.ttl
  schema/revision.shacl
  schema/revision.ttl
Labels: SHACL, Schema

#63 Better query capability over record
  src/Record/Record.Model/Immutable/Record.cs
  src/Record/Record.Model/Mutable/Record.cs
  src/Record/Record.Model/Namespaces.cs
  src/Record/Record.Model/Records.csproj
  src/Record/Record.Test/Data/TestData.cs
  src/Record/Record.Test/ImmutableRecordTests.cs
Labels: Nuget publish - C# Library, Tests - C# Library

#61 Provenance example and pattern
  example/record-with-provenance.trig
  schema/record-single-syntax.shacl.ttl
  schema/record-syntax.ttl
Labels: SHACL, Schema

#62 Extend records library to add provenance
  .github/workflows/test.yaml
  doc/format.md
  example/record-with-provenance.trig
  schema/record-single-syntax.shacl.ttl
  src/Record.Nuget.Test/Record.Nuget.Test.sln
  src/Record.Nuget.Test/Record.Nuget.Test/README.md
  src/Record.Nuget.Test/Record.Nuget.Test/Record.Nuget.Test.csproj
  src/Record.Nuget.Test/Record.Nuget.Test/RecordBuilderTests.cs
  src/Record.Nuget.Test/nuget.config
  src/Record/Record.Model/Immutable/Record.cs
  src/Record/Record.Model/Namespaces.cs
  src/Record/Record.Model/ProvenanceBuilder.cs
  src/Record/Record.Model/README.md
  src/Record/Record.Model/RecordBuilder.cs
  src/Record/Record.Model/Records.csproj
  src/Record/Record.Test/Data/TestData.cs
  src/Record/Record.Test/Data/record-unit-test.shacl.ttl
  src/Record/Record.Test/ImmutableRecordTests.cs
  src/Record/Record.Test/RecordBuilderTests.cs
  src/Record/Record.Test/Records.Tests.csproj
  src/Record/Record.Test/Test1.cs
  src/Record/Records.Nuget.Tests/RecordBuilderTests.cs
  src/Record/Records.Nuget.Tests/Records.Nuget.Tests.csproj
  src/Record/Records.Nuget.Tests/nuget.config
Labels: SHACL, Schema, Nuget publish - C# Library, Tests - C# Library

#64 New ToString method with IStoreWriter input
  src/Record/Record.Model/Immutable/Record.cs
  src/Record/Record.Model/Records.csproj
  src/Record/Record.Test/ImmutableRecordTests.cs
Labels: Nuget publish - C# Library, Tests - C# Library

#65 update introducedBy use @main
  .github/workflows/introducedby-checker.yml
Labels: Workflows

#66 Added LoadFromString(string, IStoreReader) and LoadFromTripleStore(ITripleStore)
  src/Record/Record.Model/Immutable/Record.cs
  src/Record/Record.Model/Records.csproj
  src/Record/Record.Test/ImmutableRecordTests.cs
Labels: Nuget publish - C# Library, Tests - C# Library
